html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: #fff;
    color: #282828;
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    line-height: normal;
}	

.container {
   min-height:100%;
   position:relative;
}

#map {
    height: 100%;
    min-height: 500px;
}

#logo {
    float: left;
    width: 100%;
    height: 90px;
    background: #2A363B;
    border-bottom: 10px solid rgba(255,255,255,0.07);
    border-top: 10px solid rgba(255,255,255,0.07);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    clear: both;
}

#menu {
    float: left;
    width: 100%;
    height: 60px;
    background: #fafafa;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}	

.logo-place {
    float: left;
    height: 90px;
    margin: 10px 0px 0px 10px;
}

.info-place {
    color: #999999;
    float: right;
    margin: 0 40px;
    line-height: 70px;
}

span.greenlogo {
	color: #aca935;
}

span.greylogo {
	color: #999999;
}

.img-logo {
    width: 76px;
    position: relative;
    left: -34px;
    top: 12px;
}

.nav-main {
    display: table;
    margin: 0 auto;
}

.nav-main ul {img-logo
    display: table;
    margin: 0 auto;
    list-style: none;
    position: relative;
    border-left: 1px solid #fff;
}

.nav-main ul > li {
    float: left;
    position: relative;
}

.nav-main ul li {
    float: left;
    display: inline;
    color: #1c414a;
}

.nav-main ul li.current-menu-item a {
    color: #fff;
    background: #aca935;
}
.nav-main a {
    display: block;
    position: relative;
    padding: 0 20px;
    border-right: 1px solid #fff;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    background: #f0f0f0;
    color: #111;
    font-weight: 700;
    -moz-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
    -webkit-transition: 500ms ease-in;
    -ms-transition: 500ms ease-in;
    transition: 500ms ease-in;
}
a {
    text-decoration: none;
    -moz-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
    -webkit-transition: 500ms ease-in;
    -ms-transition: 500ms ease-in;
    transition: 500ms ease-in;
    color: #aca935;
}

#siteinfo {
	position: relative;
    clear: both;   
	bottom: 0;
    float: left;
    width: 100%;
    height: 50px;
    background: #2A363B;
}

#siteinfo address {
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.75em;
    color: #ddd;
}

.thinline {
    float: left;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.5);
    margin: 1px 0 0 0;
}

h2#welcome {
    text-align: center;
    font-size: 1.6em;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin: 0 0 20px 0;    
}

.colour-orange {
    color: #b3783e;
}

ol.commentslist {
    float: left;
    width: 100%;
    margin: 30px 0 0 0;
    list-style: none;
}

ol.commentslist li {
    float: left;
    width: 100%;
}

.comment-body {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    background: #fafafa;
}

.c-left {
    float: left;
}

#comment-wrap {
    float: left;
    width: 100%;
    background: #fff;
    border: 1px solid rgba(0,0,0,0.07);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 40px 40px 20px 40px;
    margin: 30px 0 0 0;
}

#comment-wrap h4 {
    float: right;
    text-align: right;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 1em;
    background: #aca935;
    color: #fff;
}

.comment-body header h5 {
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 4px;
    color: #b3783e;
    font-size: 1.3em;
}

.comment-body header {
    float: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 15px solid transparent;
    background: rgba(0,0,0,0.02);
    clear: both;
}

.whiteempty {
    float: left;
    width: 100%;
    height: 2px;
    background: #bdbcbc;
}

.comment-box {
    float: left;
    width: 100%;
}

.comment-content {
    float: left;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-top: 15px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 0 solid transparent;
}

#comment-wrap .tpost {
    border: none!important;
    margin: 0!important;
    padding: 0!important;
}

.tpost p {
    font-size: 1.36em;
    line-height: 1.6em;
    margin: 0 0 20px 0;
}

#comment-wrap button {
    float: right;
    text-align: right;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background: #aca935;
    color: #fff;
    border:none;
}

#comment-wrap h4 a {
    color: #fff;
}

.hidden {
    display: none;
}

a.show-form-task {

}

span.deteletask {
    float: right;
    display: inline-block;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1em;
    padding: 0 30px 30px 0;
}