#map {
	height: 100%;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    background: #fff;
    color: #282828;
    font-family: 'Muli', Helvetica, Arial, sans-serif;
    line-height: normal;
}	

#logo {
    float: left;
    width: 100%;
    height: 90px;
    background: #2A363B;
    border-bottom: 10px solid rgba(255,255,255,0.07);
    border-top: 10px solid rgba(255,255,255,0.07);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    clear: both;
}

#menu {
    float: left;
    width: 100%;
    height: 60px;
    background: #fafafa;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.5);
}	

.logo-place {
    float: left;
    height: 90px;
    margin: 10px 0px 0px 10px;
}

.info-place {
    color: #999999;
    float: right;
    margin: 0 40px;
    line-height: 70px;
}

span.greenlogo {
	color: #aca935;
}

span.greylogo {
	color: #999999;
}

.img-logo {
	width: 50px;
    position: relative;
    right: 10px;
}

.nav-main {
    display: table;
    margin: 0 auto;
}

.nav-main ul {img-logo
    display: table;
    margin: 0 auto;
    list-style: none;
    position: relative;
    border-left: 1px solid #fff;
}

.nav-main ul > li {
    float: left;
    position: relative;
}

.nav-main ul li {
    float: left;
    display: inline;
    color: #1c414a;
}

.nav-main ul li.current-menu-item a {
    color: #fff;
    background: #aca935;
}
.nav-main a {
    display: block;
    position: relative;
    padding: 0 20px;
    border-right: 1px solid #fff;
    line-height: 60px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    background: #f0f0f0;
    color: #111;
    font-weight: 700;
    -moz-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
    -webkit-transition: 500ms ease-in;
    -ms-transition: 500ms ease-in;
    transition: 500ms ease-in;
}
a {
    text-decoration: none;
    -moz-transition: 500ms ease-in;
    -o-transition: 500ms ease-in;
    -webkit-transition: 500ms ease-in;
    -ms-transition: 500ms ease-in;
    transition: 500ms ease-in;
    color: #aca935;
}

#siteinfo {
	position: relative;
	bottom: 0px;
    float: left;
    width: 100%;
    height: 50px;
    background: #2A363B;
}

#siteinfo address {
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.75em;
    color: #ddd;
}

.thinline {
    float: left;
    width: 100%;
    height: 1px;
    background: rgba(255,255,255,0.5);
    margin: 1px 0 0 0;
}