{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
    	<div class="row">
    		<div class="col-lg-12">
    			Stai visualizzando il codice {{ codice }}
    		</div>
		</div>
    </div>
{% endblock %}