<!doctype html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}GreenGrey Olv Test{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/stile.css">
        <link rel="stylesheet" href="/css/jquery.dataTables.min.css">        
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <script src="/js/gmaps.js"></script> 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl_yz16C7FS39VRFG5R98d4Yb5Yd7hFN8&callback=initMap" async defer></script>
		<script src="/js/jquery-3.3.1.min.js"></script>
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>   
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.bootstrap4.min.js"></script>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="logo">
                        <div class="logo-place">
                            <h1><span class="greenlogo">Green</span><span class="greylogo">Gre</span><img class="img-logo" src="/images/oliva.png"></h1>
                        </div>
                        <div class="info-place">
                            {% if username is defined and username != null %}
                            <p>Ciao, {{ username }}&nbsp;&nbsp;[<a href="/logout">Esci</a>]</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% if username is defined and username != null %}
            <div class="row">
                <div class="col-lg-12">
                    <div id="menu">
                        <nav class="nav-main">  
                            <div class="menu-all-pages-container">
                                <ul id="menu-all-pages" class="menu">
                                    <li class="menu-item current-menu-item"><a href="/home">Home</a></li>
                                    <li class="menu-item"><a href="/trees">Mappa</a>
                                    <li class="menu-item"><a href="/treeslist">Oliveto</a>    
                                    <li class="menu-item"><a href="/calendario">Calendario</a>
                                    <li class="menu-item"><a href="/meteo">Meteo</a>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div> 
            {% endif %}        
        
            {% block body %}{% endblock %}
            {% block map %}{% endblock %}
        </div>
        <div id="siteinfo" role="contentinfo">
            <address>
                <div class="thinline"></div>
                Designed and coded in Sardinia by <a href="#">RnCStudio</a>
            </address>  
        </div>        
        {% block javascripts %}{% endblock %}        
    </body>
</html>
